@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background: url(https://images.unsplash.com/photo-1615800098779-1be32e60cca3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTYzMzMzNzMwOQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .bg {
  background: url(https://images.unsplash.com/photo-1608744882201-52a7f7f3dd60?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjcwMTcxOA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080)
    no-repeat center center/cover;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
} */

.loading-text {
  font-size: 50px;
  color: black;
  z-index: 1000;
}

header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  color: rgba(36, 36, 36);
  font-size: 2rem;
  text-decoration: none;
}

.navbar {
  margin-right: 3%;
  margin-left: 6%;
}

.navbar ul li {
  padding: 50px;
}

.navbar ul li:hover {
  background-color: rgba(190, 190, 190, 0.8);
}
.navbar ul li {
  transition: 0.5s ease;
}

.navbar ul li a {
  color: rgba(36, 36, 36);
  font-size: 1.2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 50px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(36, 36, 36);
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 119px;
    flex-direction: column;
    background-color: white;
    width: 60%;

    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    width: 100%;
    cursor: pointer;
  }

  .nav-menu.active {
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 50px;
}
